<!-- <div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Full Form</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of availableCurrencies | keyvalue">
        <td>
          <span>{{ item.key }}</span>
        </td>
        <td>
          <span>{{ item.value }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<h2 align="center">Latest Currency Rates</h2>
<h6 align="center">Base Currency: {{ baseCurrency }}</h6>
<h6 align="center">Date: {{ dateValueLatest }}</h6>
<hr />
<br />

<div class="container">
  <table
    class="table table-bordered table-striped"
    style="background-color: white"
  >
    <thead>
      <tr>
        <th>Quote Currency</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of fxOrderData | keyvalue">
        <td>
          <span>{{ item.key }}</span>
        </td>
        <td>
          <span>{{ item.value }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br />
<br />

<h2 align="center">Historical Currency Rates</h2>
<br />
<h6 align="center">Base Currency: {{ baseCurrency }}</h6>
<h6 align="center">Date: {{ dateValueHistorical }}</h6>
<hr />
<br />

<div class="container">
  <table
    class="table table-bordered table-striped"
    style="background-color: white"
  >
    <thead>
      <tr>
        <th>Quote Currency</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of historicalData | keyvalue">
        <td>
          <span>{{ item.key }}</span>
        </td>
        <td>
          <span>{{ item.value }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br />
<br />

<h2 align="center">EUR equivalent of Crypto Currency Coins</h2>
<hr />
<br />
<div *ngIf="cryptos" class="container">
  <table
    class="table table-bordered table-striped"
    style="background-color: white"
  >
    <thead>
      <tr>
        <th>Crypto Currencies</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crypto of objectKeys(cryptos)">
        <td>
          <span>{{ crypto }}</span>
        </td>
        <td>
          <span>{{ cryptos[crypto].EUR | currency: "EUR":true }}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<br />
<a routerLink="/" style="color: whitesmoke">Go Back to Home</a>
